@import url("assets/fonts/vazir-font/font.css");

.App {
  text-align: center;
}

body {
  margin: 0;
  line-height: inherit;
  font-family: Vazir;
  overflow: hidden;
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.tenvh {
  height: 10vh;
}

.twentyvh {
  height: 20vh;
}

.thirtyvh {
  height: 30vh;
}

.fourtyvh {
  height: 40vh;
}

.fiftyvh {
  height: 50vh;
}

.sixtyvh {
  height: 60vh;
}

.seventyvh {
  height: 70vh;
}

.eightyvh {
  height: 80vh;
}

.ninetyvh {
  height: 90vh;
}

.tenvw {
  width: 10vw;
}

.twentyvw {
  width: 20vw;
}

.thirtyvw {
  width: 30vw;
}

.fourtyvw {
  width: 40vw;
}

.fiftyvw {
  width: 50vw;
}

.sixtyvw {
  width: 60vw;
}

.seventyvw {
  width: 70vw;
}

.eightyvw {
  width: 80vw;
}

.ninetyvw {
  width: 90vw;
}

.fifteenvw {
  width: 15vw;
}

.eightyfivevw {
  width: 85vw;
}

.react-tabs__tab {
  display: block !important;
}

.react-tabs__tab--selected {
  border-color: transparent !important;
}

.onehundredandfifty {
  right: 150%;
}

.inputC {
  width: calc(33.33333% - 8px);
}

.inputC2 {
  width: calc((33.33333% - 12px) / 2);
}
.inputC3 {
  width: calc(50% - 8px);
}

.react-tabs__tab-list {
  border-bottom: 0px solid !important;
}

.line {
  color: #fdba74;
}

.ideal-border {
  border-left: 1px solid #fdba74;
  border-right: 1px solid #fdba74;
}

.m_grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.react-code-input input {
  font-family: Vazir !important;
}

.popup-content {
  width: 40%;
  border-radius: 8px;
}

div#popup-64 {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffab77;
  opacity: 0.1;
  border-radius: 2px;
  cursor: pointer !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff731d;
}

@media print {
  body {
    width: 118%;
    text-align: right;
    direction: rtl;
  }
  .w-\[200px\].pt-10 {
    display: none;
  }
  button.text-sm.text-main-500.font-bold {
    display: none !important;
  }
  img.flex.justify-center.items-center {
    display: none !important;
  }
  button.text-main-500.m-6.font-medium {
    display: none !important;
  }
  button.bg-main-500.rounded-lg.font-bold {
    display: none !important;
  }
  button.sm\:hidden.flex.bg-primary-500.rounded.justify-center.items-center.p-2 {
    display: none !important;
  }
  img {
    display: none;
  }
  button.p-2.border.border-main-300.rounded.gap-2.h-10.border-12.border-solid.flex.items-center {
    display: none;
  }
  p.flex-none.flex.justify-center.items-center {
    display: none;
  }
  button.p-2.border.border-main-300.rounded.gap-2.h-10.border-12.border-solid.flex.items-center {
    visibility: hidden;
  }
}
.rental-manager-progress-bar-container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-top: 10px solid #22c55e;
  padding-top: 15px;
  margin-top: 35px;
}

.active {
  background-color: #22c55e !important;
}

.rental-manager-progress-bar-container div {
  background-color: grey;
  font-weight: bold;
  color: #7ea5cc;
  border: 2px solid #024a92;
  margin-top: -45px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  z-index: 99;
}
.eightyfivepercent {
  width: 85% !important;
}
