@import url("assets/fonts/vazir-font/font.css");

.App {
  text-align: center;
}

body {
  margin: 0;
  line-height: inherit;
  font-family: Vazir;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tenvh {
  height: 10vh;
}

.twentyvh {
  height: 20vh;
}

.thirtyvh {
  height: 30vh;
}

.fourtyvh {
  height: 40vh;
}

.fiftyvh {
  height: 50vh;
}

.sixtyvh {
  height: 60vh;
}

.seventyvh {
  height: 70vh;
}

.eightyvh {
  height: 80vh;
}

.ninetyvh {
  height: 90vh;
}

.tenvw {
  width: 10vw;
}

.twentyvw {
  width: 20vw;
}

.thirtyvw {
  width: 30vw;
}

.fourtyvw {
  width: 40vw;
}

.fiftyvw {
  width: 50vw;
}

.sixtyvw {
  width: 60vw;
}

.seventyvw {
  width: 70vw;
}

.eightyvw {
  width: 80vw;
}

.ninetyvw {
  width: 90vw;
}

.fifteenvw {
  width: 15vw;
}

.eightyfivevw {
  width: 85vw;
}

.react-tabs__tab {
  display: block !important;
}

.react-tabs__tab--selected {
  border-color: transparent !important;
}

.onehundredandfifty {
  right: 150%;
}

.inputC {
  width: calc(33.33333% - 12px);
}

.inputC2 {
  width: calc((33.33333% - 12px) / 2);
}

.react-tabs__tab-list {
  border-bottom: 0px solid !important;
}

.line {
  color: #fdba74;
}

.ideal-border {
  border-left: 1px solid #fdba74;
  border-right: 1px solid #fdba74;
}
